/*********************************************
 Main home banner customizations
 *********************************************/


/* If you want to add a background image to the home page banner instead of using a solid color.
Just un comment the #banner rule below. */
#banner {
  background-color: plum;
  /* background-image: url(../../images/pic11.jpg); */
  background-size: cover;
  color: rgba(255, 255, 255, 0.75);
  /* text-shadow: 1px 1px 15px #333; */
  text-align: center;
  cursor: default;
  padding: 10em 4em 9em 4em;
} 


/* If you want to change the banner button color. The following two css rules use a class called "redbtn".
You can call the class whatever you want, but in order for it to work, it needs to be
added to the button in the index html file as well.*/
#banner .button.redbtn {
  background-color: rgba(5, 25, 26, 1);
  border: none;
  box-shadow: none;
}

#banner .button.redbtn:hover {
  background-color: rgba(5, 246, 226, .8);
}



/*********************************************
 Write your css customizations below
 *********************************************/


/* Changes all header text to be Helvetica */
h1, h2, h3, h4, h5{
   font-family: Helvetica, sans-serif;
}

/* Changes all paragraph text to be Courier */
p{
  font-family: 'Courier New', Courier, monospace;
}


/* Changes the homepage text to all be left aligned */
 .post .content{
   text-align: left;
 }

/* This class adds a gray shadow behind the image*/
.image-shadow{
  box-shadow: 1px 1px 15px grey;
}

/* This class adds a gray outline around the image */
.image-outline{
  border: 1px solid grey;
}
